<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>TO DO List App</title>
</head>
<body>
    <h1>TODO List App</h1>
    <form action="/add" method="POST">
        <label for="title">TODO Title:</label>
        <input type="text" id="title" name="title" required>
        <button type="submit">Add TODO</button>
    </form>
    {% for todo in todos %}
        <p>{{ todo.id }} | {{ todo.title }}</p>

        {% if todo.completed == False %}
            <span>Not Completed</span>
        {% else %}
            <span>Completed</span>
        {% endif %}

        <a href="#">Update</a>
        <a href="#">Delete</a>

    {% endfor %}
</body>
</html>